.ServerOptions {
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .errorBox {
      text-align: center;
      font-size: 30px;
  
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__form {
    width: 80%;
  }
}

.ChangingDetected {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  min-width: 420px;
}