.sidebar {

  & {
    padding: 8px;
    padding-top: 0;
    background-color: $bg;

    position: relative;
    z-index: 19;

    // Крупные телефоны и протативные планшеты //
    @media (max-width: #{$mb3+px}) {
      & {
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;

        transition: position 1s ease 0s;
      }

      &._active {
        right: 0;
      }
    }
  }

  // .sidebar__bot-logo

  &__bot-logo {
    margin: 0 -8px;
    height: 70px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    background-color: $darker;
    position: relative;
    z-index: -10;
  }

  // .sidebar__menu

  &__menu {
    margin-top: 20px;
  }
}

.bot-logo {

  // .bot-logo__icon

  &__icon {
    margin: 0;
    height: 55px;
    width: 55px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  // .bot-logo__txt

  &__txt {
    margin-left: 8px;
  }
}