.header {

  & {
    background-color: $darker;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  & &__container {
    max-width: 1600px;
    height: $header-hight + px;
    min-height: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__bot-logo
  &__bot-logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__user {
    cursor: pointer;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    button {
      padding: 10px;
      font-size: 16px;
      background-color: rgb(114, 114, 234);
    }
  }

  .wrapper._ServerOptions & {
    &__bot-logo {
      display: none;
    }

    &__user {
      margin-left: auto;
    }
  }
}



.bot-logo {

  // .bot-logo__icon

  &__icon {
    height: 75px;
    width: 75px;
    margin-right: 15px;

    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
  }

  // .bot-logo__txt

  &__txt {

    h3 {
      color: $font_active;
      font-size: 24px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
}

.header-user {

  // .header-user__container

  &__container {
    display: flex;
  }

  // .header-user__menu

  &__menu {
    position: relative;
  }
}

.user-menu {

  // .user-menu__arrow

  &__arrow {
    margin-left: 12px;
    img {
      fill: red;
      transition: transform 0.3s ease 0s;
      width: 35px;
      transform: rotateX(180deg);
    }
  }
  &._active &__arrow img {
    transform: rotateX(0);
  }

  // .user-menu__menu

  &__menu {
    background-color: #3a3a3a;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 100%;
    width: 200px;
    margin-top: 10px;

    transition: 0.3s ease 0s;
    transition-property: transform, opacity;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15%);

    li {
      color: rgb(236, 236, 236);
      font-size: 18px;
      cursor: pointer;
      padding: 12px;

      transition: background-color 0.2s ease 0s;

      &:hover {
        background-color: #4d4d4d;
      }
    }
  }
  &._active &__menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}