.Main {
  text-align: center;
  background-color: $bg;
}

.Main h1 {
  font-size: 30px;
  font-weight: bold;
}

.Notification {
  position: absolute;
  width: 100%;
  bottom: 20%;
  left: 0;

  text-align: center;
  padding: 0 10px;
}
