//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//<ОБНУЛЕНИЕ>===============
@import "clearstyle.scss";
//</ОБНУЛЕНИЕ>==============


//<ШИФТЫ>==============================================================================================================================================================
//==(добавить   &display=swap   при подключении через google fonts)==//
@import "./fonts/fonts.scss";

//===========================================
$fontFamily: "Arial, Helvetica, sans-serif"; //Шрифт по умолчанию
$fontSize: 14px; //Размер шрифта по умолчанию
$mainColor: #d2d2d2; // Цвет шрифта по умолчанию
//===========================================

//<ИКОНОЧНЫЙ ШРИФТ>==============
//@import "./fonts/icons.scss";
//</ИКОНОЧНЫЙ ШРИФТ>=============
//</ШИФТЫ>=============================================================================================================================================================


//<ПЕРЕМЕННЫЕ>=========================================================================================================================================================
//<Основные цвета>======
$bg: #313338;
$dark: #2B2D31;
$darker: #1E1F22;
$font_active: #EBECEE;
$blue: #5865F2;
$green: #219D56;
//</Основные цвета>=====
//<Брейкпоинты>=========
$siteWidth: 1600;
$widthContainer: 1600;
$mb1: $widthContainer + 12;
$mb2: 991.92;
$mb3: 767.98;
$mb4: 479.98;
//</Брейкпоинты>========
$header-hight: 70;
//</ПЕРЕМЕННЫЕ>========================================================================================================================================================


//<МИКСИНЫ>============
@import "mixin.scss";
//</МИКСИНЫ>===========

//<HEADER>==============
@import "../components/Header/Header.scss";
//</HEADER>=============

//<FOOTER>==============
// @import "footer.scss";
//</FOOTER>=============

//<ASIDE>==============
// @import "aside.scss";
//</ASIDE>=============

//<General>===================
@import "./general.scss";
//</General>==================


//<React Elements>=========================================================================================================================================================
@import "../components/Notification/Notification.scss";
@import "../components/UserGuild/UserGuild.scss";
@import "../components/Layout/Layout.scss";
@import "../components/Sidebar/Sidebar.scss";
@import "../components/MenuBurger/MenuBurger.scss";

//</React Elements>=========================================================================================================================================================

//<СТРАНИЦЫ САЙТА>=========================================================================================================================================================

//<Pages>========================
@import "../pages/Auth/Auth.scss";
@import "../pages/ErrorPage/ErrorPage.scss";
@import "../pages/Main/Main.scss";
@import "../pages/ServerOptions/ServerOptions.scss";
@import "../pages/Loading/Loading.scss";
@import "../pages/UserGuilds/UserGuilds.scss";
//</Pages>=======================

//</СТРАНИЦЫ САЙТА>========================================================================================================================================================